<div style="display: block;">
  <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType">
  </canvas>
</div>


<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-4" >
      <div class="panel panel-primary" style="min-height: 550px">
        <div class="panel-heading">Продуктивность</div>
        <div class="panel-body"><img src="assets/images/zad1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Данный показатель отображает степень вовлечённости сотрудника в рабочий процесс, а также объёмы и качество выполненной за определённый промежуток времени работы.</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-danger" style="min-height: 550px">
        <div class="panel-heading">Вовлеченность в общение</div>
        <div class="panel-body"><img src="assets/images/zad2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Эта метрика характеризует коммуникативную активность и инициативу в общении, проявляемую сотрудником в рабочем коллективе.</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success" style="min-height: 550px">
        <div class="panel-heading">Кол-во пряников</div>
        <div class="panel-body"><img src="assets/images/zad3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Счётчик количества пряников отображает, сколько пряников новоиспечённый сотрудник уже успел получить за свои трудовые достижения.</div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-success" style="min-height: 550px">
        <div class="panel-heading">Предложенные идеи</div>
        <div class="panel-body"><img src="assets/images/zad4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Коэффициент предложенных идей характеризует креативность новичка, его способность мыслить нестандартно, генерировать и предлагать новые решения.</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary" style="min-height: 550px">
        <div class="panel-heading">скорость работы</div>
        <div class="panel-body"><img src="assets/images/zad5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Скоростью работы характеризуется способность сотрудника выполнять заданные объёмы работы за конкретные промежутки времени. Чем выше данный показатель, тем меньше времени на выполнение работы затрачивается работником в ходе рабочего процесса</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger" style="min-height: 550px">
        <div class="panel-heading">Ориентация в офисе</div>
        <div class="panel-body"><img src="assets/images/zad6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Данная метрика наглядно демонстрирует способность работника ориентироваться в офисе, которая характеризуется тем, как часто сотрудник обращается к карте офиса, а также к своим коллегам за помощью в навигации в стенах компании.</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success" style="min-height: 550px">
        <div class="panel-heading">Качество работы</div>
        <div class="panel-body"><img src="assets/images/zad7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Улучшение качества - дело всех и каждого, от Генерального директора до менеджера! Данный показатель отображает точность и полноту выполнения сотрудником повседневных рабочих задач, а также количество допускаемых им неточностей.</div>
      </div>
    </div>

  </div>

</div><br>
