<div style="display: block;">
  <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType">
  </canvas>
</div>


<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Продуктивность</div>
        <div class="panel-body"><img src="assets/images/zad1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Вовлеченность в общение</div>
        <div class="panel-body"><img src="assets/images/zad2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Кол-во пряников</div>
        <div class="panel-body"><img src="assets/images/zad3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">предложенные идеи</div>
        <div class="panel-body"><img src="assets/images/zad4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">скорость работы</div>
        <div class="panel-body"><img src="assets/images/zad5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">оринтация в офисе</div>
        <div class="panel-body"><img src="assets/images/zad6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрики</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">качество работы</div>
        <div class="panel-body"><img src="assets/images/zad7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Красивое описание метрикиd</div>
      </div>
    </div>

  </div>

</div><br>

<!--<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="width: 50%">

      <div style="display: block;">
        <canvas baseChart
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType">
        </canvas>
      </div>
      <button (click)="mych()">изменить</button>


    </div>

    <div class="col-sm-9">








    </div>
  </div>
</div>
-->
